/* Slider */
.slick-loading .slick-list {
  background: #fff url('../img/slick/slick-ajax-loader.gif') center center no-repeat;
}

.slick-slider {
  user-select: auto;
  * {
    outline: none;
  }
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  border-radius: 50% !important;
  outline: none;
  background: transparent;
  background-image: linear-gradient(to right, #cda948 0%, #e6cf33 100%);
  background-repeat: no-repeat;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 9px;
    height: 16px;
    margin: auto;
    content: '';
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 9px 16px;
  }
}

.slick-prev {
  &::before {
    background-image: url('../img/slick/arr-left.svg');
  }
}

.slick-next {
  &::after {
    background-image: url('../img/slick/arr-right.svg');
  }
}

.slick-prev {
  left: -10px;
}

[dir='rtl'] .slick-prev {
  right: -10px;
  left: auto;
}

.slick-next {
  right: -10px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -10px;
}
