.index-slider {
  padding-bottom: 200px;
}

.index-slider__title {
  display: block;
  margin: 0 0 30px 0;
  text-align: center;

  span {
    font-size: 30px;
    font-weight: 500;
    line-height: 27px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      width: 67px;
      height: 51px;
      content: '';
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
    &::before {
      left: -80px;
      background-image: url('../img/title-decor-left.svg');
    }
    &::after {
      right: -80px;
      background-image: url('../img/title-decor-right.svg');
    }
  }
}

.index-slider__list {
  width: 100%;
  margin-bottom: 58px;
}

.index-slider__slide {
  text-align: center;
}

.index-slider__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: calc(100% - 30px);
  max-width: 270px;
  height: 270px;
  margin: 0 auto 14px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  background-color: #fff;
  img {
    display: block;
    max-width: 95%;
    max-height: 95%;
  }
}

.index-slider__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  color: #141615;
}

.stok-rules {
  display: block;
  text-align: center;
  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    position: relative;
    text-decoration: underline;
    color: #141615;
    &:hover {
        text-decoration: none;
      color: $highlight;
    }
    &::before {
      position: absolute;
      top: 0;
      right: -30px;
      bottom: 0;
      width: 14px;
      height: 14px;
      margin: auto;
      content: '';
      border-radius: 50%;
      background-image: linear-gradient(to right, #cda948 0%, #e6cf33 100%);
    }
    &::after {
      position: absolute;
      top: 0;
      right: -25px;
      bottom: 0;
      width: 4px;
      height: 6px;
      margin: auto;
      content: '';
      background-image: url('../img/arr-right.svg');
      background-repeat: no-repeat;
      background-position: 55% 50%;
    }
  }
}
