//begin header
header.header
  a(href="/").header__logo
    img(src="assets/img/logo.svg" alt="logo")
  .header__burger-open
    img(src="assets/img/burger.svg" alt="picture")

  //begin header__menu
  .header__menu#header__menu
    a(href="#").header__logo-mobile
      img(src="assets/img/logo-mobile.svg" alt="logo")
    .header__burger-close
      img(src="assets/img/close.svg" alt="picture")

    nav.menu
      ul.menu__list
        li.menu__item
          a(href="index.html#index-slider").menu__link Призы
        li.menu__item
          a(href="receipt.html").menu__link Ввести код
        li.menu__item
          a(href="cake.html").menu__link Зажечь звезды
        li.menu__item
          a(href="results.html").menu__link.active Итоги розыгрышей
        li.menu__item
          a(href="faq.html").menu__link Вопрос / Ответ
        li.menu__item
          a(href="rules.html").menu__link Правила участия
  //end header__menu
//end header