mixin index-slider__slide(pic, text)
  .index-slider__slide
    .index-slider__pic
      img(src="assets/img/index-slide-" + pic + ".jpg" alt="picture")
    span.index-slider__text #{text}


//begin index-slider
.index-slider
  .container
    h2.index-slider__title.title
      span Призы
    //begin index-slider__list
    .index-slider__list#index-slider__list
      +index-slider__slide('01', 'Коньяк CUVEE CENTENAIRE 100-летний 0,7 л.')
      +index-slider__slide('02', 'Коньяк CUVEE DEMI SIECLE 50-летний 0,7 л.')
      +index-slider__slide('03', 'Коньяк CUVEE QUART DE SIECLE 25-летний 0,7 л.')
      +index-slider__slide('04', 'Набор бокалов Riedel Heart to Heart ')
      +index-slider__slide('05', 'Сертификаты в ресторан Баклажан (Ginza Project) на 3 000 и 5 000 руб. ')
      +index-slider__slide('06', 'Сертификаты на 1 из услуг салона тайского массажа Royal Thai ')
      +index-slider__slide('07', 'Вино-сюрприз 0,75 л.')
      +index-slider__slide('08', 'Бренди LA FORET VS 0,7 л.')
      +index-slider__slide('09', 'Вино TERRE NATUZZI бел./крас. 0,75 л.')
    //end index-slider__list

    .stok-rules
      a(href="#") Правила акции
//end index-slider