//begin index-items
.index-items
  .container
    //begin index-items__item
    .index-items__item
      .index-items__item-top(style='background-image:url("assets/img/index-item-01.svg");')
        span 1
      h4.index-item__title
        |Соверши покупку от
        =' '
        strong 1000 ₽
    //end index-items__item
    //begin index-items__item
    .index-items__item
      .index-items__item-top(style='background-image:url("assets/img/index-item-02.svg");')
        span 2
      h4.index-item__title
        strong Зажги звезду на торте
        =' '
        |по ссылке в sms или введи код с чека на странице акции
    //end index-items__item
    //begin index-items__item
    .index-items__item
      .index-items__item-top(style='background-image:url("assets/img/index-item-03.svg");')
        span 3
      h4.index-item__title
        strong Увеличивай свои шансы,
        =' '
        |получая дополнительные звезды
    //end index-items__item

  a(href="#").index-items__btn Перейти к торту

//end index-items