// ***** main colors *******
$brand: #cda948;
$dark: #424242;
$light: #f5f5f5;

$highlight: #cda948;
$highlight-hov: #cda948;

// ===== fonts =====
$roboto: 'Roboto', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
