extends ../_template

block variables
  - var title       = 'Alta Vina'
  - var description = 'Alta Vina'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    section.main.index
      include ../sections/index-top
      include ../sections/index-items
      include ../sections/index-slider
    //end content