extends ../_template

block variables
  - var title       = 'Alta Vina'
  - var description = 'Alta Vina'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.receipt
      .container
    //end content